@model BangazonWorkforce.Models.ViewModels.EmployeeDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>First Name</dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>Last Name</dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>Employee's Department</dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt>Assigned Computer</dt>
        <dd>
            @Html.DisplayFor(model => model.ComputerManufacturer)
            @Html.DisplayFor(model => model.ComputerMake)
        </dd>
        <dt>Training Program's</dt>
        @foreach (var tp1 in Model.TrainingPrograms)
        {

            <dd>
                @Html.DisplayFor(modelItem => tp1.Name)
            </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
