@model BangazonWorkforce.Models.ViewModels.EmployeeDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComputerMake)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComputerMake)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComputerManufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComputerManufacturer)
        </dd>

        @foreach(var tp1 in Model.TrainingPrograms)
        {
            <dt>
                @Html.DisplayNameFor(modelItem => tp1.Name)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => tp1.Name)
            </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
