@model IEnumerable<BangazonWorkforce.Models.DepartmentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.department.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department.Budget)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department.Budget)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.department.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.department.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.department.Id })
            </td>
        </tr>
}
    </tbody>
</table>
